doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Parth Jansari | Designer
        meta(name="description", content="")
        meta(name="author", content="parth_jansari")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="assets/css/style.min.css")
    body
        h1 Your own starter template equpied with 
        P Pug, GulpJS, SASS, AutoPrefixer &amp; BrowserSync
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/plugins/ScrollToPlugin.min.js")
        script(src="assets/js/all.min.js")
